@import 'colors';
@import 'mixin';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  margin: 100px 120px;

  @media (max-width: 768px) {
    margin: 40px 60px;
  }

  @media (max-width: 480px) {
    margin: 40px 30px;
  }
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px 120px;
  background-color: $blue-200;

  @media (max-width: 768px) {
    padding: 30px 60px;
  }

  @media (max-width: 480px) {
    padding: 30px;
  }

  .logo {
    width: 114px;
    height: 84px;
  }

  nav {
    display: contents;

    @media (max-width: 768px) {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 30px;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 1;
      max-width: 720px;

      li a {
        @include s;
        text-decoration: none;
        color: $white;
      }
    }

    div {
      display: flex;
      gap: 26px;
      flex-wrap: wrap;

      button {
        @include btn;
        width: 160px;
      }

      button:first-of-type {
        color: $grey-100;
      }

      button:last-of-type {
        opacity: 30%;
        box-shadow: 0 3px 0.2em $grey-100;
      }
    }
  }

  .burger {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.promo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 120px 20px;
  margin: 0;
  background-image: url(../images/bg1.png);
  background-size: cover;

  @media (max-width: 1200px) {
    background-color: $blue-200;
    padding-bottom: 20px;
    background-image: none;
  }

  @media (max-width: 768px) {
    padding: 40px 60px 0;
    flex-direction: column;
  }

  @media (max-width: 480px) {
    padding: 40px 30px 0;
  }

  .info {
    max-width: 680px;

    h1 {
      @include x8l;
      color: white;

      span {
        color: $orange;
      }
    }

    p {
      @include m;
      line-height: 1.6em;
      color: $white;
      margin: 34px 0 52px;
    }

    div {
      display: flex;
      gap: 40px;

      @media (max-width: 480px) {
        flex-direction: column;
      }

      button {
        @include btn;
        opacity: 30%;
        box-shadow: 0 3px 0.2em $grey-100;
      }

      a {
        @include m;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 32px;
        color: $blue-500;

        img {
          width: 80px;
          height: 80px;
          display: block;
        }
      }
    }
  }

  picture {
    position: relative;

    img {
      @include img;
    }

    .img2 {
      position: absolute;
      bottom: 150px;
      left: 0;
    }
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  h2 {
    @include x7l;
  }

  p {
    @include xxs;
    line-height: 1.6em;
    max-width: 750px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px;

    @media (max-width: 768px) {
      justify-content: center;
      margin-top: 40px;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;

      span:first-of-type {
        @include x9l;
        background: linear-gradient(to right, $blue, $blue-100);
        background-clip: text;
        color: transparent;
      }

      span:last-of-type {
        @include xxxl;
        line-height: 1.3em;
      }
    }
  }
}
.software {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h3 {
    @include x4l;
    line-height: 1.8em;
    color: $blue-200;

    span {
      color: $blue-400;
    }
  }

  p {
    @include m;
    max-width: 850px;
    line-height: 1.8em;
    color: $grey-200;
    text-align: center;
  }

  .box {
    margin-top: 140px;
    padding: 0 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 60px;
      justify-content: center;
    }

    div {
      position: relative;
      max-width: 450px;
      box-shadow:  0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      box-sizing: border-box;

      h4 {
        @include xxl;
        color: $blue-400;
        text-align: center;
        margin: 120px 55px 24px;
      }

      p {
        @include xs;
        margin: 0 55px 50px;
      }

      img {
        position: absolute;
        top: -57px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h3 {
    @include x6l;
    line-height: 1.8em;
    color: $blue-400;
    text-align: center;

    span {
      color: $blue-200;
    }
  }

  p {
    @include m;
    line-height: 1.8em;
    color: $grey-200;
    max-width: 1100px;
    text-align: center;
    margin-bottom: 50px;
  }

  .class {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 600px));
    grid-auto-rows: minmax(100px, 400px);
    max-width: 1300px;
    gap: 100px;
    justify-content: center;

    @media (max-width: 768px) {
      gap: 30px;
      max-width: none;
      grid-auto-rows: auto;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 17px;
      background-position: center;
      background-repeat: no-repeat;
      aspect-ratio: 3 / 2;

      h5 {
        @include xxxl;
        color: $white;
      }

      button {
        @include btn;
        color: $white;
      }
    }

    .instructors {
      background-image: url(../images/instructors.png);
      background-size: cover;

      button {
        border: 2px solid white;
        background: none;
      }
    }

    .students {
      background-image: url(../images/students.png);
      background-size: cover;

      button {
        background-color: $blue-300;
      }
    }
  }
}

.classroom {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  div {
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    position: relative;

    p:first-of-type {
      @include x4l;
      line-height: 1.6em;
      color: $blue-400;
      font-weight: 500;
      position: relative;
      z-index: 2;

      span {
        color: $blue-200;
      }
    }

    p:last-of-type {
      @include m;
      line-height: 1.8em;
      color: $grey-200;
      position: relative;
      z-index: 2;
    }

    a {
      @include s;
      line-height: 1.8em;
      color: $grey-200;
    }

    .ellipse-200 {
      position: absolute;
      z-index: 1;
      top: -13px;
      left: -25px;
    }

    .ellipse-100 {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 30%;
      transform: translateY(-30%);
    }
  }

  picture {
    position: relative;
    flex: 1;

    .room {
      @include img;
      position: relative;
      z-index: 2;
    }

    .blue {
      position: absolute;
      z-index: 1;
      top: -20px;
      left: -20px;
    }

    .green {
      position: absolute;
      z-index: 1;
      bottom: -20px;
      right: -20px;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  h3 {
    @include x4l;
    line-height: 1.8em;
    color: $blue-400;

    span {
      color: $blue-200;
    }
  }

  p {
    @include p;
  }

  .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 150px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    picture {
      max-width: 896px;
      position: relative;

      .inter {
        @include img;
        position: relative;
        z-index: 2;
      }

      .ellipse-300 {
        position: absolute;
        z-index: 1;
        top: -76px;
        left: 63px;
      }

      .ellipse-blue {
        position: absolute;
        z-index: 1;
        top: -58px;
        left: 223px;
      }

      .ellipse-400 {
        position: absolute;
        z-index: 1;
        bottom: -25px;
        right: 65px;
      }

      .ellipse-red {
        position: absolute;
        z-index: 1;
        bottom: -25px;
        right: 35%;
        transform: translateX(-35%);
      }
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 50px;

      h4 {
        @include h4;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 40px;

        li {
          @include s;
          line-height: 1.8em;
          display: flex;
          gap: 40px;
          align-items: center;
          color: $grey-200;

          picture {
            padding: 25px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            background: white;
            display: flex;
          }

          img {            
            width: 26px;
            height: 26px;
          }
        }
      }
    }
  }

  .feature {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: baseline;
    }

    div {
      max-width: 568px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h4 {
        @include h4;
      }

      p {
        @include p;
      }
    }

    picture {

      img {
        @include img;
      }
    }
  }

  button {
    @include btn;
    @include m;
    color: $blue-100;
    border: 1px solid $blue-100;
    background: none;
  }
}

.course {

  h4 {
    @include x5l;
  }

  p {
    @include m;
    color: $grey-100;
    margin-top: 24px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;

    div {
      display: flex;
      justify-content: space-between;

      h5 {
        @include xl;
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 29px;
          height: 29px;
        }
      }

      button {
        @include btn;
        @include m;
        display: flex;
        align-items: center;
        gap: 45px;
        background: none;
        color: $blue-300;
        font-weight: 600;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    ul {
      display: flex;

      @media (max-width: 678px) {
        flex-wrap: wrap;
      }

      li {

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.testimonial {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .left {
    max-width: 610px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    span {
      @include xs;
      color: $blue-600;
      display: flex;
      align-items: center;
      gap: 12px;
    }

    h3 {
      @include x8l;
      color: $blue-400;
    }

    p {
      @include l;
      color: $grey-200;
      line-height: 40px;
    }

    button {
      @include btn;
      margin-right: auto;
      display: flex;
      align-items: center;
      gap: 26px;
      color: $blue-100;
      border: 1px solid $blue-100;
      background: none;
      padding: 0 0  0 38px;
    }
  }

  .right {
    position: relative;
    max-width: 750px;
    width: 100%;

    picture {
      max-width: 560px;
      max-height: 700px;
      position: relative;

      img:first-of-type {
        object-fit: cover;
        width: 100%;
        height: auto;
        max-width: 560px;
        max-height: 700px;
      }

      .arr {
        position: absolute;
        right: -85px;
        bottom: 350px;
      }
    }

    .rose {
      padding: 40px 40px 30px 40px;
      border-radius: 20px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      max-width: 620px;
      border-left: 14px solid $orange-100;
      position: absolute;
      left: 50px;
      bottom: -100px;
      background-color: white;

      p {
        @include s;
        padding-left: 32px;
        border-left: 1px solid $grey;
        line-height: 40px;
        color: $grey-300;
      }

      .rating {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .name {
          @include m;
          line-height: 42px;
          color: $grey-300;
          font-weight: 600;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 12px;

          span {
            @include xxs;
            color: $grey-400;
            line-height: 34px;
          }
        }
      }
    }
  }
}