* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  margin: 100px 120px;
}
@media (max-width: 768px) {
  section {
    margin: 40px 60px;
  }
}
@media (max-width: 480px) {
  section {
    margin: 40px 30px;
  }
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px 120px;
  background-color: #00CBB8;
}
@media (max-width: 768px) {
  header {
    padding: 30px 60px;
  }
}
@media (max-width: 480px) {
  header {
    padding: 30px;
  }
}
header .logo {
  width: 114px;
  height: 84px;
}
header nav {
  display: contents;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  max-width: 720px;
}
header nav ul li a {
  font-size: 22px;
  text-decoration: none;
  color: white;
}
header nav div {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
}
header nav div button {
  font-size: 22px;
  padding: 22px 38px;
  border-radius: 80px;
  border: none;
  width: 160px;
}
header nav div button:first-of-type {
  color: #5B5B5B;
}
header nav div button:last-of-type {
  opacity: 30%;
  box-shadow: 0 3px 0.2em #5B5B5B;
}
header .burger {
  display: none;
}
@media (max-width: 768px) {
  header .burger {
    display: block;
  }
}

.promo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 120px 20px;
  margin: 0;
  background-image: url(../images/bg1.png);
  background-size: cover;
}
@media (max-width: 1200px) {
  .promo {
    background-color: #00CBB8;
    padding-bottom: 20px;
    background-image: none;
  }
}
@media (max-width: 768px) {
  .promo {
    padding: 40px 60px 0;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .promo {
    padding: 40px 30px 0;
  }
}
.promo .info {
  max-width: 680px;
}
.promo .info h1 {
  font-size: 54px;
  color: white;
}
.promo .info h1 span {
  color: #F48C06;
}
.promo .info p {
  font-size: 24px;
  line-height: 1.6em;
  color: white;
  margin: 34px 0 52px;
}
.promo .info div {
  display: flex;
  gap: 40px;
}
@media (max-width: 480px) {
  .promo .info div {
    flex-direction: column;
  }
}
.promo .info div button {
  font-size: 22px;
  padding: 22px 38px;
  border-radius: 80px;
  border: none;
  opacity: 30%;
  box-shadow: 0 3px 0.2em #5B5B5B;
}
.promo .info div a {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 32px;
  color: #252641;
}
.promo .info div a img {
  width: 80px;
  height: 80px;
  display: block;
}
.promo picture {
  position: relative;
}
.promo picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
.promo picture .img2 {
  position: absolute;
  bottom: 150px;
  left: 0;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.success h2 {
  font-size: 48px;
}
.success p {
  font-size: 18px;
  line-height: 1.6em;
  max-width: 750px;
}
.success ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .success ul {
    justify-content: center;
    margin-top: 40px;
  }
}
.success ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success ul li span:first-of-type {
  font-size: 96px;
  background: linear-gradient(to right, #136CB5, #49BBBD);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.success ul li span:last-of-type {
  font-size: 32px;
  line-height: 1.3em;
}

.software {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.software h3 {
  font-size: 36px;
  line-height: 1.8em;
  color: #00CBB8;
}
.software h3 span {
  color: #2F327D;
}
.software p {
  font-size: 24px;
  max-width: 850px;
  line-height: 1.8em;
  color: #696984;
  text-align: center;
}
.software .box {
  margin-top: 140px;
  padding: 0 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1200px) {
  .software .box {
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }
}
.software .box div {
  position: relative;
  max-width: 450px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-sizing: border-box;
}
.software .box div h4 {
  font-size: 30px;
  color: #2F327D;
  text-align: center;
  margin: 120px 55px 24px;
}
.software .box div p {
  font-size: 20px;
  margin: 0 55px 50px;
}
.software .box div img {
  position: absolute;
  top: -57px;
  left: 50%;
  transform: translateX(-50%);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.about h3 {
  font-size: 44px;
  line-height: 1.8em;
  color: #2F327D;
  text-align: center;
}
.about h3 span {
  color: #00CBB8;
}
.about p {
  font-size: 24px;
  line-height: 1.8em;
  color: #696984;
  max-width: 1100px;
  text-align: center;
  margin-bottom: 50px;
}
.about .class {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 600px));
  grid-auto-rows: minmax(100px, 400px);
  max-width: 1300px;
  gap: 100px;
  justify-content: center;
}
@media (max-width: 768px) {
  .about .class {
    gap: 30px;
    max-width: none;
    grid-auto-rows: auto;
  }
}
.about .class div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 3/2;
}
.about .class div h5 {
  font-size: 32px;
  color: white;
}
.about .class div button {
  font-size: 22px;
  padding: 22px 38px;
  border-radius: 80px;
  border: none;
  color: white;
}
.about .class .instructors {
  background-image: url(../images/instructors.png);
  background-size: cover;
}
.about .class .instructors button {
  border: 2px solid white;
  background: none;
}
.about .class .students {
  background-image: url(../images/students.png);
  background-size: cover;
}
.about .class .students button {
  background-color: #23BDEE;
}

.classroom {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .classroom {
    flex-direction: column;
  }
}
.classroom div {
  max-width: 730px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  position: relative;
}
.classroom div p:first-of-type {
  font-size: 36px;
  line-height: 1.6em;
  color: #2F327D;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.classroom div p:first-of-type span {
  color: #00CBB8;
}
.classroom div p:last-of-type {
  font-size: 24px;
  line-height: 1.8em;
  color: #696984;
  position: relative;
  z-index: 2;
}
.classroom div a {
  font-size: 22px;
  line-height: 1.8em;
  color: #696984;
}
.classroom div .ellipse-200 {
  position: absolute;
  z-index: 1;
  top: -13px;
  left: -25px;
}
.classroom div .ellipse-100 {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 30%;
  transform: translateY(-30%);
}
.classroom picture {
  position: relative;
  flex: 1;
}
.classroom picture .room {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.classroom picture .blue {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: -20px;
}
.classroom picture .green {
  position: absolute;
  z-index: 1;
  bottom: -20px;
  right: -20px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.features h3 {
  font-size: 36px;
  line-height: 1.8em;
  color: #2F327D;
}
.features h3 span {
  color: #00CBB8;
}
.features p {
  font-size: 24px;
  line-height: 1.8em;
  color: #696984;
}
.features .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 150px;
}
@media (max-width: 1200px) {
  .features .interface {
    flex-direction: column;
  }
}
.features .interface picture {
  max-width: 896px;
  position: relative;
}
.features .interface picture .inter {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.features .interface picture .ellipse-300 {
  position: absolute;
  z-index: 1;
  top: -76px;
  left: 63px;
}
.features .interface picture .ellipse-blue {
  position: absolute;
  z-index: 1;
  top: -58px;
  left: 223px;
}
.features .interface picture .ellipse-400 {
  position: absolute;
  z-index: 1;
  bottom: -25px;
  right: 65px;
}
.features .interface picture .ellipse-red {
  position: absolute;
  z-index: 1;
  bottom: -25px;
  right: 35%;
  transform: translateX(-35%);
}
.features .interface div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.features .interface div h4 {
  font-size: 40px;
  line-height: 1.6em;
  color: #2F327D;
}
.features .interface div h4 span {
  color: #00CBB8;
}
.features .interface div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.features .interface div ul li {
  font-size: 22px;
  line-height: 1.8em;
  display: flex;
  gap: 40px;
  align-items: center;
  color: #696984;
}
.features .interface div ul li picture {
  padding: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: white;
  display: flex;
}
.features .interface div ul li img {
  width: 26px;
  height: 26px;
}
.features .feature {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
}
@media (max-width: 1200px) {
  .features .feature {
    flex-direction: column;
    align-items: baseline;
  }
}
.features .feature div {
  max-width: 568px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features .feature div h4 {
  font-size: 40px;
  line-height: 1.6em;
  color: #2F327D;
}
.features .feature div h4 span {
  color: #00CBB8;
}
.features .feature div p {
  font-size: 24px;
  line-height: 1.8em;
  color: #696984;
}
.features .feature picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
.features button {
  font-size: 22px;
  padding: 22px 38px;
  border-radius: 80px;
  border: none;
  font-size: 24px;
  color: #49BBBD;
  border: 1px solid #49BBBD;
  background: none;
}

.course h4 {
  font-size: 40px;
}
.course p {
  font-size: 24px;
  color: #5B5B5B;
  margin-top: 24px;
}
.course .list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}
.course .list div {
  display: flex;
  justify-content: space-between;
}
.course .list div h5 {
  font-size: 28px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.course .list div h5 img {
  width: 29px;
  height: 29px;
}
.course .list div button {
  font-size: 22px;
  padding: 22px 38px;
  border-radius: 80px;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 45px;
  background: none;
  color: #23BDEE;
  font-weight: 600;
}
.course .list div button img {
  width: 32px;
  height: 32px;
}
.course .list ul {
  display: flex;
}
@media (max-width: 678px) {
  .course .list ul {
    flex-wrap: wrap;
  }
}
.course .list ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 768px) {
  .testimonial {
    flex-direction: column;
  }
}
.testimonial .left {
  max-width: 610px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonial .left span {
  font-size: 20px;
  color: #525596;
  display: flex;
  align-items: center;
  gap: 12px;
}
.testimonial .left h3 {
  font-size: 54px;
  color: #2F327D;
}
.testimonial .left p {
  font-size: 26px;
  color: #696984;
  line-height: 40px;
}
.testimonial .left button {
  font-size: 22px;
  padding: 22px 38px;
  border-radius: 80px;
  border: none;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 26px;
  color: #49BBBD;
  border: 1px solid #49BBBD;
  background: none;
  padding: 0 0 0 38px;
}
.testimonial .right {
  position: relative;
  max-width: 750px;
  width: 100%;
}
.testimonial .right picture {
  max-width: 560px;
  max-height: 700px;
  position: relative;
}
.testimonial .right picture img:first-of-type {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 560px;
  max-height: 700px;
}
.testimonial .right picture .arr {
  position: absolute;
  right: -85px;
  bottom: 350px;
}
.testimonial .right .rose {
  padding: 40px 40px 30px 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  max-width: 620px;
  border-left: 14px solid #F67766;
  position: absolute;
  left: 50px;
  bottom: -100px;
  background-color: white;
}
.testimonial .right .rose p {
  font-size: 22px;
  padding-left: 32px;
  border-left: 1px solid #BDBDD1;
  line-height: 40px;
  color: #5F5F7E;
}
.testimonial .right .rose .rating {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.testimonial .right .rose .rating .name {
  font-size: 24px;
  line-height: 42px;
  color: #5F5F7E;
  font-weight: 600;
}
.testimonial .right .rose .rating div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.testimonial .right .rose .rating div span {
  font-size: 18px;
  color: #80819A;
  line-height: 34px;
}/*# sourceMappingURL=style.css.map */